aiofiles==22.1.0
aiohttp==3.8.5
aiosignal==1.3.1
aiosqlite==0.18.0
altair==5.1.1
anyio==3.5.0
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.5
async-timeout==4.0.3
attrs==22.1.0
Babel==2.11.0
backcall==0.2.0
beautifulsoup4==4.12.2
bleach==4.1.0
blinker==1.6.2
Bottleneck==1.3.5
brotlipy==0.7.0
cachetools==5.3.1
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==2.0.4
click==8.1.7
colorama==0.4.6
comm==0.1.2
contourpy==1.0.5
cryptography==41.0.3
cycler==0.11.0
dataclasses-json==0.5.7
debugpy==1.6.7
decorator==5.1.1
defusedxml==0.7.1
docker-pycreds==0.4.0
entrypoints==0.4
et-xmlfile==1.1.0
exceptiongroup==1.0.4
executing==0.8.3
fastjsonschema==2.16.2
flake8==6.0.0
fonttools==4.25.0
frozenlist==1.3.3
geonamescache==2.0.0
langchain==0.0.294
openai==0.28.0
pandas==2.0.3
reportlab==3.5.67
streamlit==1.26.0
